body{
    background: #292d32;
    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
 right:0;
}

.navbar{
    margin-bottom: 10px;
}
.total{
    text-align: center;
}

#map{
    margin-left: auto; margin-right: auto;
}

.map_container{
    margin-bottom: 20px;
}

.cases{
    display: none;
}


.main_card{
    margin-bottom: 20px;
}

.spinner-grow{
    animation: spinner-grow 1.5s linear infinite;
    margin-right: 5px;
    width:0.75rem;
    height:0.75rem;
}
.choose_province{
    width: 100%;
    margin-bottom: 10px;
}

.dropdown-cases {
    margin-top:10px;
    margin-bottom:10px;
  }


#mapid { height: 600px; }

#province_title{
    color:white
}