body{
    background: #292d32;
    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
 right:0;
}

.tab{
    margin-top: 20px;
}

.navbar{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19)
}
.total{
    text-align: center;
}

#map{
    margin-left: auto; margin-right: auto;
}

.map_container{
    margin-bottom: 20px;
}

.cases{
    display: none;
}


/* .main_card{
    margin-bottom: 20px;
} */

.spinner-grow{
    animation: spinner-grow 1.5s linear infinite;
    margin-right: 5px;
    width:0.75rem;
    height:0.75rem;
}
.choose_province{
    width: 100%;
    margin-bottom: 10px;
}

.dropdown-cases {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
  }



#province_title{
    color:white
}

.twi-iframe{
    width: 100%;
    height: 700px;
    border: none;
    border-radius: 5px;
}

#search-spinner{
    display: none;
}

.map{
    height: 100%;
    margin-bottom: 20px;
    border-radius: 0.25rem;
    transition: ease-in-out 0.3s;
}

#nation_map{
    display: none;
    height: 400px;
    margin-bottom: 0px;
    border-radius: 0.25rem;
}


@media only screen and (max-width: 768px) {
    .map{
        height: 450px !important;
    }
}

@media only screen and (min-width: 768px) {
    #nation_map{
        height: 100%;
    }
}



.map_body{
    padding: 0;
}


.map-body .spinner-loader{
    margin:20px 0px
}

.local-table{
    display: none;
}

.fa, .fab, .fad, .fal, .far, .fas{
    /* float: right; */
    padding: 4px;
    
}

.footer .fas{
    cursor: pointer;
    transition: cubic-bezier(1, -0.71, 0, 1.36) 0.5s;
}


.card-header p{
    position:absolute;
}

@media only screen and (max-width: 768px) {
    .leaflet-container{
        height: 400px !important;
    }
}

.region_table{
    display: none;
}

.t_map{
    height: 450px;
    position: sticky !important;
    transition: ease-in-out 0.3s;  
    opacity: 0.3; 
}

.travel_map_spinner{
    color: white;
    position: absolute;
    z-index: 1000;
    margin-top: 200px;
}

.footer{
    /* height:60px; */
    margin-top: 20px;
    width: 100%;
    background-color: #343a40;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer p{
    margin-bottom: 0;
}
.main .col-sm-3 .card-header{
    text-align: center;
}
.card-body{
    text-align: center;
}

.card-body p{
    margin:0;
}

#death_map{
    display: none;
}



.search-bar{
    display: none;
    border-top: 2px solid #2a2d33;
}

.navbar h4{
    margin-bottom: 0;
    line-height: 30px;
}

h4 .badge{
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .search-bar h4{
        margin-bottom: 10px;
    }
}

/* .double_nav{
    display: none;
} */


.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
    padding-left: 5px;
    padding-right: 5px;
}

.row {
    margin-right: -5px;
    margin-left: -5px;
}

@media only screen and (min-width: 768px) {
    .total-cases{
        height: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .total-cases{
        height: 100%;
    }
}


.sub-data hr{
    display: none;
}

.cases .card{
    height: 100%;
}

.death .card{
    height: 100%;
}

@media only screen and (max-width: 575px) {
    .death .col-sm{
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 575px) {
    .total-cases{
        margin-bottom: 10px;
    }

    .sub-data hr{
        display: block;
    }

    
}



