body{
    background: #292d32;
    
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after{
 right:0;
}

.navbar{
    margin-bottom: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), -1px -20px 6px rgba(0,0,0,0.23);
}
.total{
    text-align: center;
}

#map{
    margin-left: auto; margin-right: auto;
}

.map_container{
    margin-bottom: 20px;
}

.cases{
    display: none;
}


.main_card{
    margin-bottom: 20px;
}

.spinner-grow{
    animation: spinner-grow 1.5s linear infinite;
    margin-right: 5px;
    width:0.75rem;
    height:0.75rem;
}
.choose_province{
    width: 100%;
    margin-bottom: 10px;
}

.dropdown-cases {
    margin-bottom:10px;
  }



#province_title{
    color:white
}

.twi-iframe{
    width: 100%;
    height: 700px;
    border: none;
    border-radius: 5px;
}

#search-spinner{
    display: none;
}

.map{
    height: 70vh;
    margin-bottom: 20px;
    border-radius: 0.25rem;
    transition: ease-in-out 0.3s;
}

@media only screen and (max-width: 768px) {
    .map{
        height: 450px !important;
    }
}

#nation_map{
    display: none;
    height: 100%;
    margin-bottom: 20px;
    border-radius: 0.25rem;
}

.map_body{
    padding: 0;
}


.map-body .spinner-loader{
    margin:20px 0px
}

.local-table{
    display: none;
}

.fas{
    float: right;
    padding: 4px;
    cursor: pointer;
    transition: cubic-bezier(1, -0.71, 0, 1.36) 0.5s;
}

.card-header p{
    position:absolute;
}

@media only screen and (max-width: 768px) {
    .leaflet-container{
        height: 400px !important;
    }
}

.region_table{
    display: none;
}

.t_map{
    height: 450px;
    position: sticky !important;
    transition: ease-in-out 0.3s;  
    opacity: 0.3; 
}

.travel_map_spinner{
    color: white;
    position: absolute;
    z-index: 1000;
    margin-top: 200px;
}

.footer{
    /* height:60px; */
    margin-top: 20px;
    width: 100%;
    background-color: #343a40;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer p{
    margin-bottom: 0;
}
.main .col-sm-3 .card-header{
    text-align: center;
}
.card-body{
    text-align: center;
}

.card-body p{
    margin:0;
}
